body :root {
    --sceneHeight : 100px;
    --sceneTextHeight : 100px;
    --actorHeight : 50px;
    --actorTextHeight : 48px;
    --folderHeight : 24px;
}

body #scenes .scene {
    height : var(--sceneHeight);
    background-position: center;
}

body #scenes .scene h3 {
    line-height: var(--sceneTextHeight);
}

body #combat li.combatant .token-image {
    margin: 0;
    height: 48px;
}

body .directory .directory-list .directory-item.entity {
    line-height: var(--actorHeight);
}

body .directory .directory-list .directory-item img {
    height: var(--actorHeight);
    width: var(--actorHeight);
    object-position: center;
}

body li.folder > .folder-header h3 {
    line-height: var(--folderHeight);
}
body li.folder > .folder-header {
    line-height: var(--folderHeight);
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}